CurrencyExchangeApp/CurrencyExchangeApp/Connected Services/CurrencyExchangeServiceReference/CurrencyExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CurrencyExchangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CurrencyExchangeService/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CurrencyExchangeService/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CurrencyExchangeService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyExchangeService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyExchangeService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_TopUpAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:TopUpAccount" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_TopUpAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:TopUpAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_GetExchangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRate" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_GetExchangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_GetArchivedExchangeRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivedExchangeRates" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_GetArchivedExchangeRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivedExchangeRatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_BuyCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_BuyCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_SellCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:SellCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_SellCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_GetUserBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBalance" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_GetUserBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_CalculateExchangeAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateExchangeAmount" />
  </wsdl:message>
  <wsdl:message name="ICurrencyExchangeService_CalculateExchangeAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateExchangeAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyExchangeService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/CreateUser" message="tns:ICurrencyExchangeService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/CreateUserResponse" message="tns:ICurrencyExchangeService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/LoginUser" message="tns:ICurrencyExchangeService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/LoginUserResponse" message="tns:ICurrencyExchangeService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TopUpAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/TopUpAccount" message="tns:ICurrencyExchangeService_TopUpAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/TopUpAccountResponse" message="tns:ICurrencyExchangeService_TopUpAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExchangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/GetExchangeRate" message="tns:ICurrencyExchangeService_GetExchangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/GetExchangeRateResponse" message="tns:ICurrencyExchangeService_GetExchangeRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchivedExchangeRates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/GetArchivedExchangeRates" message="tns:ICurrencyExchangeService_GetArchivedExchangeRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/GetArchivedExchangeRatesResponse" message="tns:ICurrencyExchangeService_GetArchivedExchangeRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/BuyCurrency" message="tns:ICurrencyExchangeService_BuyCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/BuyCurrencyResponse" message="tns:ICurrencyExchangeService_BuyCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/SellCurrency" message="tns:ICurrencyExchangeService_SellCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/SellCurrencyResponse" message="tns:ICurrencyExchangeService_SellCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/GetUserBalance" message="tns:ICurrencyExchangeService_GetUserBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/GetUserBalanceResponse" message="tns:ICurrencyExchangeService_GetUserBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateExchangeAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyExchangeService/CalculateExchangeAmount" message="tns:ICurrencyExchangeService_CalculateExchangeAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyExchangeService/CalculateExchangeAmountResponse" message="tns:ICurrencyExchangeService_CalculateExchangeAmount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyExchangeService" type="tns:ICurrencyExchangeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopUpAccount">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/TopUpAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeRate">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/GetExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchivedExchangeRates">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/GetArchivedExchangeRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/BuyCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/SellCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBalance">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/GetUserBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateExchangeAmount">
      <soap:operation soapAction="http://tempuri.org/ICurrencyExchangeService/CalculateExchangeAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyExchangeService">
    <wsdl:port name="BasicHttpBinding_ICurrencyExchangeService" binding="tns:BasicHttpBinding_ICurrencyExchangeService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CurrencyExchangeService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>