CurrencyExchangeApp/CurrencyExchangeApp/Connected Services/CurrencyExchangeServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CurrencyExchangeService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyExchangeService.Models" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyExchangeService.Models" minOccurs="0" name="CreateUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CurrencyExchangeService.Models" minOccurs="0" name="LoginUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopUpAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopUpAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TopUpAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExchangeRateResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivedExchangeRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivedExchangeRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CurrencyExchangeService.Models" minOccurs="0" name="GetArchivedExchangeRatesResult" nillable="true" type="q3:ArrayOfExchangeRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuyCurrencyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SellCurrencyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserBalanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateExchangeAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateExchangeAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateExchangeAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>